<html>
<head>
  <title>Log In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <form action="\login" style="margin-right: 70%" method="POST">
    <fieldset>
      <legend><h2>Log in</h2></legend>
      Username:<br>
      <input type="text" name="username">
      <br>
      Password:<br>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Log in">
      <br>
      <br>
      <a href="/signup" style="color:black;">Sign up</a>
    </fieldset>
  </form>
</body>

</html>
